
.card {
    background-color: hsl(0, 0%, 100%) ;
    padding: 5%;
    display: flex;
    flex-direction: column;
    width: 50%;
    border-radius: 5% 5% 25% 5%;
}

.inputCont {
    display: flex;
    flex-direction: row;
    justify-content: flex-start ;
    margin-bottom: 2em;
}

.submitButton {
    width:auto;
    height:auto;
    padding: 10px;
    border-radius: 50%;
    position: absolute;
    right: 0;
    background-color: hsl(259, 100%, 65%);
    border: none;
    bottom: -33%;
}

.resultCont {
    text-align: left;


}

.result {
    display:flex;
    flex-direction: row;
}

.result span {
    color:  hsl(259, 100%, 65%);
    letter-spacing: 10px;
}

.result p {
    font-weight: 800;
    font-style: italic;
    font-size: 64px;
    margin: 2px;
    color: hsl(0, 0%, 8%);
}

.formCont {
border-bottom: 1px solid hsl(0, 0%, 86%);
position:relative;
}
/* .inputField {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 15%;
}

.fieldInput {
    padding: 4px 4px 5px;
    width: 10em;
    border: 1px solid hsl(0, 0%, 86%);
    border-radius: 5px;
    height: 2em;
    font-weight: 700;
    color:hsl(0, 1%, 44%)
}

.fieldLabel {
    font-size: 9px;
    letter-spacing: 2px;
    font-weight: 800;
    color:hsl(0, 1%, 44%);
    margin-bottom: 5px;
}

.fieldHelper {
    font-weight: 400i;
    font-size: 9px;
    color: hsl(0, 100%, 67%);
    font-style: italic;
}

input[type="number"]:focus{
    border:1px solid hsl(259, 100%, 65%);
    outline: none !important;
}

input:hover {
    border: 1px solid hsl(259, 100%, 65%);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
} */
